@page "/"
@using Models;
@using Data;
@inject NavigationManager NavigationManager
@inject UserClient client

<h1>Las Pollas Hermanas Login</h1>

<div style="text-align: center;">
  <EditForm Model="@user" OnValidSubmit="Ingresar">
    <div class="form-group" style="max-width: 200px; margin: 0 auto;">
      <p>Correo</p>
      <InputText @bind-Value="correo" class="form-control" style="width: 100%" />
      <ValidationMessage For="@(() => user.Email)" />
      <br>
      <p>Contraseña</p>
      <InputText @bind-Value="contrasena" class="form-control" style="width: 100%" />
      <ValidationMessage For="@(() => user.Password)" />
      <br>
      <button type="submit" class="btn btn-info" style="color: white;">
        Entrar
      </button>
      <a href="/Registro">No estoy registrado</a>
    </div>
  </EditForm>
</div>

@code {
  private Users user = new Users();
  private string correo;
  private string contrasena;

  private async Task Ingresar()
  {
    var user = await client.GetUserEmail(correo);
    if (user != null && user.Password == contrasena)
    {
      NavigationManager.NavigateTo($"/dildos/{user.Puesto}/{user.Id}");
    }
    else
    {
      Console.WriteLine("Credenciales incorrectas.");
    }
  }
}
